[Unit]
Description=Add email addresses from various sources to Action Network

[Service]
Type=oneshot
WorkingDirectory=%h/actionnetwork-subscribe
ExecStart=%h/actionnetwork-subscribe/env/bin/python -u %h/actionnetwork-subscribe/subscribe.py
